<h2> Поступила заявка </h2>
<h3> Позвонить по номеру: <strong> <%= @booking.phone %> </strong></h3>
<h4> Данные: </h4>
<p>Имя: <strong> <%= @booking.first_name %> </strong> </p>
<% unless @booking.last_name.empty? %>
  <p>Фамилия: <strong> <%= @booking.last_name %> </strong> </p>
<% end %>
<br>
<h4> Контакты: </h4>
<p>Email: <strong> <%= @booking.email %> </strong> </p>
<p>Телефон: <strong> <%= @booking.phone %> </strong> </p>
<br>
<% unless @booking.model.empty? && @booking.model.empty? %>
  <h4>Проблема: </h4>
  <% unless @booking.model.empty? %>
    <p>Модель: <strong> <%= @booking.model %> </strong> </p>
  <% end %>
  <% unless @booking.content.empty? %>
    <p>Пробема: <strong> <%= @booking.content %> </strong> </p>
  <% end %>
<% end %>

