<div class="container">
  <div class="row">
    <div class="col s12 m8 offset-m2">
      <h3 class="center-align booking-header"> Заполните форму </h3>
    <%= simple_form_for @booking do |f| %>
      <div class="row">
        <%= f.input :first_name, wrapper_html: { class: 'col s6' } %>
        <%= f.input :last_name, wrapper_html: { class: 'col s6' } %>
      </div>
      <div class="row">
        <%= f.input :email, wrapper_html: { class: 'col s12' } %>
      </div>
      <div class="row">
        <%= f.input :phone, wrapper_html: { class: 'col s12' } %>
      </div>
      <div class="row">
        <%= f.input :model, wrapper_html: { class: 'col s12' } %>
      </div>
      <div class="row">
        <%= f.input :content, as: :text, wrapper_html: { class: 'col s12' } %>
      </div>
      <%= f.button :submit, class: 'waves-effect waves-teal' %>
    <% end %>
    </div>
  </div>
</div>
