<div class="navbar-awm">
  <!-- Logo -->
  <%= link_to root_path, class: 'navbar-awm-brand' do %>
    <%= image_tag "awm123.jpg" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-awm-right hide-on-small-only hide-on-med-only">
    <div class="navbar-awm-item">
      <%= link_to "Главная", root_path, class: "navbar-awm-link" %>
    </div>
     <div class="navbar-awm-item">
      <%= link_to "Услуги", root_path, class: "navbar-awm-link" %>
    </div>
     <div class="navbar-awm-item">
      <%= link_to "Найти нас", find_us_url, class: "navbar-awm-link" %>
    </div>
  </div>
<!-- navbar-awm-dropdown-menu -->

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-awm-item hide-on-large-only ">
    <a href="#" class="button-collapse" data-activates="mobile-demo" id="navbar-awm-menu">  <i class="fa fa-bars" ></i>  </a>
    <ul id='mobile-demo' class="side-nav side-menu-awm">
      <li>
        <%= link_to root_path do  %>
          <i class="fa fa-home icon-navbar-awm" aria-hidden="true"></i>
          <p> Главная </p>
        <% end %>
      </li>
      <li>
        <%= link_to '#' do  %>
          <i class="fa fa-wrench icon-navbar-awm" aria-hidden="true"> </i>
          <p> Услуги </p>
        <% end %>
      </li>
      <li>
        <%= link_to find_us_url do  %>
          <i class="fa fa-search icon-navbar-awm" aria-hidden="true"></i>
          <p> Найти нас </p>
        <% end %>
      </li>
    </ul>
  </div>
</div>
