<div class="banner-home" style="background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)), url(<%= image_path 'banner-kappa.jpg' %>)">
  <div class="banner-content">
    <h1> Автосервис с безупречной репутацией. </h1>
    <%= link_to "Забронируй сейчас", new_booking_path, class: "btn-book" %>
  </div>
</div>
<div class="wrapper-cards">
  <div class="container cards">
    <h2 class="center-align"> Почему мы </h2>
    <div class="row">
      <div class="col s12 l4">
        <div class="autocard">
          <div class="header-card">
            <%= image_tag "card1.png" %>
            <h4> Опытные механики </h4>
          </div>
          <div class="content-card">
            <p>Чтобы гарантировать лучшее обслуживание нашим клиентам мы постоянно инвестируем в наших соотрудников</p>
          </div>
        </div>
      </div>
      <div class="col s12 l4">
        <div class="autocard">
          <div class="header-card">
            <%= image_tag "card2.png" %>
            <h4> Современные технологии </h4>
          </div>
          <div class="content-card">
            <p>Мы используем инновационное оборудование, чтобы обеспечить максимальную заботу о вашем автомобиле </p>
          </div>
        </div>
      </div>
      <div class="col s12 l4">
        <div class="autocard">
          <div class="header-card">
            <%= image_tag "card3.png" %>
            <h4>Корпоративные клиенты</h4>
          </div>
          <div class="content-card">
            <p> Мы работаем не только с физическими лицами, но и с корпоративными клиентами</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container cards">
    <div class="row">
      <div class="col s12 l4">
        <div class="autocard">
          <div class="header-card">
            <%= image_tag "card4.png" %>
            <h4> Сложные операции </h4>
          </div>
          <div class="content-card">
            <p> Наша компания отремонтирует вашу машину после аварии  </p>
          </div>
        </div>
      </div>
      <div class="col s12 l4">
        <div class="autocard">
          <div class="header-card">
            <%= image_tag "card5.png" %>
            <h4> Комфортные условия</h4>
          </div>
          <div class="content-card">
            <p> В нашем сервисе предоставленные все удобства, чтобы насладиться временем пока мы позаботимся о вашей машине </p>
          </div>
        </div>
      </div>
      <div class="col s12 l4">
        <div class="autocard">
          <div class="header-card">
            <%= image_tag "card6.png" %>
            <h4> Служебные записи </h4>
          </div>
          <div class="content-card">
            <p> Мы предоставляем услуги, которые были одобернны нашим клиентом и информируем его об стоймости услуги. Вы ведем подробные записи о проделанной работе  </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hide-on-med-and-down ">
  <div class="what-we-serve">
    <h2 class="center-align serve"> Обслуживаем </h2>
    <div class="auto-carrosel">
        <div class="container flex-cars">
          <div class="swiper-container auto-carrosel-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide car" style="background-image: url(<%= image_path "mercedes.png" %>)"></div>
                <div class="swiper-slide car" style="background-image: url(<%= image_path "audi.png" %>)"></div>
                <div class="swiper-slide car" style="background-image: url(<%= image_path "vw.png" %>)"></div>
                <div class="swiper-slide car" style="background-image: url(<%= image_path "toyota.png" %>)"></div>
                <div class="swiper-slide car" style="background-image: url(<%= image_path "peugeot.png" %>)"></div>
                <div class="swiper-slide car" style="background-image: url(<%= image_path "honda.png" %>)"></div>
                <div class="swiper-slide car" style="background-image: url(<%= image_path "skoda.png" %>)"></div>
            </div>
            <!-- Add Arrows -->
          </div>
        </div>
          <div class="swiper-button-prev swiper-button-black arrow-left"></div>
          <div class="swiper-button-next swiper-button-black arrow-right"></div>
    </div>
  </div>
</div>

<div class="banner-service" style="background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)), url(<%= image_path 'kappa-service.jpg' %>);">
  <div class="content-banner-awm">
    <div class="row killing-margin-service-awm">
      <div class="col s12 l8">
        <h2 class="left-align service-header"> Наши услуги </h2>
        <div class="row">
          <div class="service-margin-row">
            <div class="service-margin-awm ">
              <div class="col s12 m4 l4">
                <div class="service-card-awm">
                  <%= image_tag 'service1.png' , class: 'service-card-img-awm'%>
                  <div class="service-card-content-awm">
                    <h4> Кондиционеры </h4>
                    <p> Замена, Заправка </p>
                  </div>
                </div>
              </div>
              <div class="col s12 m4 l4">
                <div class="service-card-awm">
                  <%= image_tag 'service2.png' , class: 'service-card-img-awm' %>
                  <div class="service-card-content-awm">
                    <h4> Компьютер </h4>
                    <p> Диагностика </p>
                  </div>
                </div>
              </div>
              <div class="col s12 m4 l4">
                <div class="service-card-awm">
                  <%= image_tag 'service3.png' , class: 'service-card-img-awm' %>
                  <div class="service-card-content-awm">
                    <h4> Шины </h4>
                    <p> Ремонт, Замена </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="service-margin-awm ">
              <div class="col s12 m4 l4">
                <div class="service-card-awm">
                  <%= image_tag 'oil.png' , class: 'service-card-img-awm'%>
                  <div class="service-card-content-awm">
                    <h4> Масло </h4>
                    <p> Замена, Продажа </p>
                  </div>
                </div>
              </div>
              <div class="col s12 m4 l4">
                <div class="service-card-awm">
                  <%= image_tag 'elec.png' , class: 'service-card-img-awm' %>
                  <div class="service-card-content-awm">
                    <h4> Электроника </h4>
                    <p> Ремонт </p>
                  </div>
                </div>
              </div>
              <div class="col s12 m4 l4">
                <div class="service-card-awm">
                  <%= image_tag 'truba.png' , class: 'service-card-img-awm' %>
                  <div class="service-card-content-awm">
                    <h4> Выхлоп. Труба </h4>
                    <p> Ремонт, Замена </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="service-margin-awm">
              <div class="col s12 m4 l4">
                <div class="service-card-awm">
                  <%= image_tag 'podveska.png' , class: 'service-card-img-awm'%>
                  <div class="service-card-content-awm">
                    <h4> Подвеска </h4>
                    <p> Ремнот, Замена </p>
                  </div>
                </div>
              </div>
              <div class="col s12 m4 l4">
                <div class="service-card-awm">
                  <%= image_tag 'remni.png' , class: 'service-card-img-awm' %>
                  <div class="service-card-content-awm">
                    <h4> Ремень ГРМ </h4>
                    <p> Ремонт, Замена </p>
                  </div>
                </div>
              </div>
              <div class="col s12 m4 l4">
                <div class="service-card-awm">
                  <%= image_tag 'details.png' , class: 'service-card-img-awm' %>
                  <div class="service-card-content-awm">
                    <h4> Запчасти </h4>
                    <p> Продажа </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col s12 l4">
        <h2 class="left-align service-header"> Осмотр </h2>
        <div class="row">
          <div class="service-margin-row">
            <div class="service-margin-awm">
              <div class="col s12 m4 l12">
                <div class="service-card-awm">
                  <%= image_tag 'xod.png' , class: 'service-card-img-awm'%>
                  <div class="service-card-content-awm">
                    <h4 class="making-center-text"> Ходовая часть </h4>
                    <p class="hidep-banner"> Ремонт, Проверка </p>
                  </div>
                </div>
              </div>
              <div class="col s12 m4 l12">
                <div class="service-card-awm">
                  <%= image_tag 'podgotovka.png' , class: 'service-card-img-awm' %>
                  <div class="service-card-content-awm">
                    <h4 class="making-center-text"> Предпродажная подг. </h4>
                    <p class="hidep-banner"> Проверка </p>
                  </div>
                </div>
              </div>
              <div class="col s12 m4 l12">
                <div class="service-card-awm">
                  <%= image_tag 'osmotr.png' , class: 'service-card-img-awm' %>
                  <div class="service-card-content-awm">
                    <h4 class="making-center-text"> Осмотр </h4>
                    <p class="hide-banner"> Проверка </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%= render 'shared/footer' %>


<% content_for(:after_js) do %>
  <script>
    var swiper = new Swiper('.swiper-container', {
      nextButton: '.swiper-button-next',
      prevButton: '.swiper-button-prev',
      loop: true,
      slidesPerView: 6,
      spaceBetween: 30,
    });
  </script>

<% end %>
