<div class="banner-home" style="background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)), url(<%= image_path 'home-banner.jpg' %>)">
  <div class="banner-content">
    <h1> Автосервис с безупречной репутацией. </h1>
    <%= link_to "Забронируй сейчас", "#", class: "btn-book" %>
  </div>
</div>

<div class="container cards">
  <h2 class="text-center"> Почему мы </h2>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card">
        <div class="header-card">
          <%= image_tag "card1.png" %>
          <h4> Опытные механики </h4>
        </div>
        <div class="content-card">
          <p>Чтобы гарантировать лучшее обслуживание нашим клиентам мы постоянно инвестируем в наших соотрудников</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card">
        <div class="header-card">
          <%= image_tag "card2.png" %>
          <h4> Современные технологии </h4>
        </div>
        <div class="content-card">
          <p>Мы используем инновационное оборудование, чтобы обеспечить максимальную заботу о вашем автомобиле </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card">
        <div class="header-card">
          <%= image_tag "card3.png" %>
          <h4>Корпоративные клиенты</h4>
        </div>
        <div class="content-card">
          <p> Мы работаем не только с физическими лицами, но и с корпоративными клиентами</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card">
        <div class="header-card">
          <%= image_tag "card4.png" %>
          <h4> Сложные операции </h4>
        </div>
        <div class="content-card">
          <p> В нашем сервисе предоставленные все удобства, чтобы насладиться временем пока мы позаботимся о вашей машине </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card">
        <div class="header-card">
          <%= image_tag "card5.png" %>
          <h4> Комфорт</h4>
        </div>
        <div class="content-card">
          <p> В нашем сервисе предоставленные все удобства, чтобы насладиться временем пока мы позаботимся о вашей машине </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card">
        <div class="header-card">
          <%= image_tag "card6.png" %>
          <h4> Служебные записи </h4>
        </div>
        <div class="content-card">
          <p> Мы предоставляем услуги, которые были одобернны нашим клиентом и информируем его об стоймости услуги. Вы ведем подробные записи о проделанной работе  </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="auto-carrosel">

</div>
