<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= yield(:title_tag).blank? || "Awm | Автосервис с безупречной репутацией" %></title>
    <meta name="description" content="Профессиональный автосервис в Воронеже. Мы предоставляем огромный выбор услуг для любой машины и марки автомобиля">
    <meta property="og:title" content="Awm | Автосервис с безупречной репутацией" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.awm-vrn.ru/" />
    <meta property="og:image" content="<%= image_url "fb.png" %>">
    <meta property="og:description" content="Профессиональный автосервис в Воронеже. Мы предоставляем огромный выбор услуг для любой машины и марки автомобиля" />
    <meta property="og:site_name" content="Awm" />
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= favicon_link_tag %>
  </head>
  <body>
    <%= render "shared/navbar" %>
    <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= yield(:after_js) %>
  </body>
</html>
